/*html and body */
html,
body {
    height: 100%;
    width: 100%;
}

/*top banner*/
.BannerTop{
  color:white;
  text-align: center;
  font-size:30px;
  border: 2px solid black;
  background-image: url('./images/image1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Rock Salt', cursive;
  text-shadow: 1px 1px 15px white;
}

/*navigation*/
.navBar{
  width: 25%;
  height: 0vh;
}

#navButton{
  list-style:none; 
  display:block;
  margin:10px;
  border:1px solid white;
  padding:10px;
  border-radius:25px;
  width:80px;
}

.welcome{
  font-size:30px;
  margin:15px;
  margin-top:200px;
}

.links{
  margin:20px;
  padding:10px;
  margin-top: 60px;
  text-align:center;
}

/*muir woods content*/
.trailHeading{
  font-family:'Rock Salt', cursive;
}
.content{
  font-size:14px;
  margin:10px;
  padding:5px;
  width:auto;
  text-align:center;
}

.trailContents{
  margin-left:180px;
  width:auto;
  max-height:600px;
  overflow-y: auto;
  border:3px solid black;
  position:relative;
  top:-100px;
  justify-content:center;
  box-shadow: inset 0 0 0 5px lightblue;
}

.img{
  margin-left:-40px;
}

/*middle image div*/

.middleImage {
  background-image: url('./images/image3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  position:relative;
  top:-100px;
}

.trailHeading{
  text-align:center;
  background-color:skyblue;
  margin:0px;
  height:100px;
  padding:30px;
}

/*quote*/

.quoteDisplay{
  font-size:18px;
  /* float:right; */
  margin:50px;
  text-align:center;
}

/*footer*/
.footer{
  font-size:12px;
  width:auto;
  height: 80px;
  background-color:darkslategrey;
  text-align:center;
  color:white;
  padding:15px;
}
/*media queries*/
@media only screen and (max-width: 768px) {
 .trailContents{
   width:auto;
   /* top:-200px; */
   max-height:500px;
   margin-right:0px;
 }

 .middleImage{
   position:relative;
   top:-100px;
 }

 .welcome{
  margin-top:120px;
  
 }
 .links{
   margin-top:10px;
 }
.img{
  width:auto;
}
}